PORT=8007
NODE_ENV=development
MONGODB_URI=mongodb://127.0.0.1:27017/ev-admin-service
JWT_SECRET=replace-with-the-same-auth-service-secret
USER_SERVICE_URL=http://localhost:8002
STATION_SERVICE_URL=http://localhost:8003
BOOKING_SERVICE_URL=http://localhost:8004
PAYMENT_SERVICE_URL=http://localhost:8005
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8000
