PORT=8000
NODE_ENV=development
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000,http://localhost:8000
AUTH_SERVICE_URL=http://localhost:8001
USER_SERVICE_URL=http://localhost:8002
STATION_SERVICE_URL=http://localhost:8003
BOOKING_SERVICE_URL=http://localhost:8004
PAYMENT_SERVICE_URL=http://localhost:8005
REVIEW_SERVICE_URL=http://localhost:8006
ADMIN_SERVICE_URL=http://localhost:8007
